.listar-page {
    .card {
        width: 100%;
        max-width: 650px;
    }
}

.table {
    tbody {
        tr {
            &:hover {
                cursor: pointer;
                background-color: #d8e8eb;
            }
        }
    }
}

